__pycache__/*
static/papers
static/results
.env
questions.txt
scripts/*.sh

venv
__pycache__
*playground*
pages/__pycache__/*.pyc
static/**/**/**/paper_text.txt
static/** 
custom.bib

.vscode
static/
results/
static/
wandb/
evals/resource/test/
*.csv
gemma-3-27b-it
gemma-3-12b-it
unsloth_compiled_cache/
slurm/
gemma-3-*
evals/resource/valid/
resource/
dcgm-*
Qwen2.5-*
Qwen3-*
NuExtract-*
unsloth*
benchmark_results/
dcgm/
.streamlit
qwen2.5-0.5b-instruct-sft/
output/*
lora_tuning_adapters*
Qwen2.5-0.5B-Instruct
Falcon3-3B-Instruct/
Llama3-2-3B-Instruct/
r_16_alpha_32/*
r_32_alpha_32/*
logs/
helpers/human_annotated_data/
helpers/kimi_annotated_data/
helpers/results_kimi
r_8_alpha_16_maxlen_16384/
evals/nadl/
vllm_server.log
.gitignore
MeXtract-0.5B/
pdfs/
MeXtract-1.5B/
*.parquet
test_validated_dataset/
evaluated_dataset/
Qwen3.5-0.8B/
non_evaluated_*/
evaluated_*/
MeXtract-3B/
synth_slot_gemini_flash_new/
synth_slot_gemini_flash_newv3/
synth_slot_gemini_flash_newv2/
synth_slot_reversed_slot_with_papers/
synth_slot_reversed_slot_with_papersv2/
datasets/
diverse_*/*
mextract_papers_docling/
